<tr>
  <td>
    <%= review.user.first_name %>
    <%= review.user.last_name %>
  </td>
  <td>
    <%= review.description %>
  </td>
  <td>
    <%= review.rating %>
  </td>
  <td>
    <%= review.created_at %>
  </td>
</tr>
